body {
  font-size: 16px;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header,
footer {
  max-width: 500px;
  margin: 0 auto;

  text-align: center;
}

/* Force `main` to expand so footer remains at the bottom. */
main {
  flex: 1;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 10px auto;
  padding: 0;
}

fieldset {
  display: flex;

  border: 0;
  padding: 0;
  column-gap: 20px;
}

fieldset input {
  margin-right: 8px;
}

table {
  width: 100%;
  margin: 20px 0;
  border-collapse: collapse;
}

thead tr {
  height: 40px;
}

tbody tr {
  height: 100px;
}

tr.loading {
  text-align: center;
}

td img {
  width: 100px;
  height: 100px;
}

td {
  padding: 8px;
}

td.image {
  width: 100px;
}

td.tracks,
td.runtime {
  text-align: right;
  width: 100px;
}

td.buttons {
  text-align: center;
  width: 100px;
}

thead tr {
  border-bottom: 2px solid black;
}

td.album {
  width: 200px;
}

button,
.button {
  display: inline-block;

  font-family: monospace;
  color: black;
  background: white;
  border: 0px;
  outline: none;
  cursor: pointer;
  text-decoration: underline;

  transition: color 0.15s;
}

a,
a:hover,
a:visited {
  color: black;
  transition: color 0.15s;
}

a:hover,
button:hover,
.button:hover {
  color: #6c757d;
  text-decoration: none;
}

a.spotify {
  background-color: rgb(30, 215, 96);
  padding: 12px;
  border-radius: 4px;
  text-decoration: none;
  color: black;
}

a.spotify:hover {
  background-color: #3be477;
  color: black;
}
