body {
  margin: 0;
  padding: 0;
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
  line-height: 1.3;
}

button {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 1em;
}
